/*===[Variables]===*/
/* Texts, etc. */
$primary-color: hsl(193, 38%, 86%);
$advice-color: hsl(150, 100%, 66%);
$dice-color: hsl(218, 23%, 16%);

/* Backgrounds */
$primary-bg: hsl(217, 19%, 24%);
$card-bg: hsl(217, 19%, 38%);

/*===[Styles]===*/
/* Body */

/* Card */

/* Hover */

/* General */
