@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/*===[Variables]===*/
$primary-cyan: hsl(193, 38%, 86%);
$primary-neon: hsl(150, 100%, 66%);
$primary-bg: hsl(218, 23%, 16%);
$secondary-bg: hsl(217, 19%, 24%);
$primary-font: "Manrope", sans-serif;
$card-font-size: 28px;
$card-font-size-sm: 21px;

/*===[Styles]===*/
/* Setup */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
    background-color: $primary-bg;
    color: $primary-cyan;
}

/* Utilities */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100vh;
    max-height: 100%;
}

.content-width {
    max-width: 40rem;
}

/* Hover */
.glow-neon:hover {
    box-shadow:0 0px 35px 1px $primary-neon;
}

/* Card */
.card {
    background-color: $secondary-bg;
    width: 100%;
    min-width: 18rem;
    max-width: 30rem;
    padding: 1.6rem 1.8rem 4.5rem;
    border-radius: 1rem;
    margin: 0 1.3rem 2.5rem;
    h5 {
        color: $primary-neon;
        text-align: center;
        letter-spacing: 3px;
    }
    p {
        text-align: center;
        font-size: $card-font-size-sm;
        margin: 0 0 2.5rem;
    }
    @media screen and (min-width: 530px) {
        p {
            font-size: $card-font-size;
            width: 100%;
            max-width: 92%;
        }
    }
}

/* General */
.btn-dice {
    cursor: pointer;
    background-color: $primary-neon;
    border-radius: 50%;
    border: 0;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    transition: .2s;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0.3rem;
    a {
        color: $primary-neon;
    }
}